#navbar {
    display: flex;
    background-color: burlywood;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 13px 3px 70px -10px rgba(0,0,0,0.64);
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
   display: flex;
   list-style: none;
}

.navbar-list {
    margin-left: 1rem;
}

a {
  color: #00558a;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

#navbar-logo {
    width: 100px;
}
