* {
  margin: 0 ;
  padding: 0;
  font-family: Roboto;
 
}

body {
   background: #ffffff;
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 50%, rgba(0, 0, 0, 1) 100%);
}


